{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col">
        <h2>{{ username }}'s Reviews</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        <h1> Reviews <small class="float-right">{{ reviews.count() }} reviews</small></h1>
        <ul class="media-list">
            {% for review in reviews %}
            <li class="media review-item">
                <div class="media-body">
                    <span class="float-right">
                        <small>{{ review.date }}</small>
                    </span>
                    <strong>For: <a href="{{ url_for('main.restaurant_reviews', restaurant=review.restaurant_details) }}">
                            {{ review.restaurant_details }}
                        </a>
                    </strong>
                    <p>
                        Romance: {{ review.romance }}
                        <br>
            
                        Price: {{ review.price }}
                        <br>

                        How likely to recommend: {{ review.recommend }}%
                        <br>
            
                        General Comments: {{ review.content }}
                    </p>

                    
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}